<div class="s-toolbar">
  <button mat-raised-button (click)="new()" color="primary">新增</button>
</div>

<app-search-filter (applyFilter)="applyFilter($event)"></app-search-filter>

<mat-table [dataSource]="dataSource" matSort matSortDisableClear matSortDirection="desc">
  <ng-container matColumnDef="seq" sticky>
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let element; let index = index">
      {{ (pageable.pageSize * pageable.pageIndex) + index + 1 }}.
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>名称</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <div style="display: flex; flex-direction: column">
        <span>{{ element.name }}</span>
        <!-- <app-base-op-log-column [element]="element"></app-base-op-log-column> -->
      </div>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="code">
    <mat-header-cell *matHeaderCellDef mat-sort-header>代码</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.code }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="users">
    <mat-header-cell *matHeaderCellDef>授权用户</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let user of element.userSysroles" (removed)="remove(user, element)"
          [matTooltip]="user.id.username">
          <span>{{
            user.id.username.substring(0, 6) + (user.id.username.length > 6 ? "..." : "")
            }}</span>
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
      </mat-chip-list>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="permission">
    <mat-header-cell *matHeaderCellDef>数据权限</mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ element.dataPermissionId }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="created">
    <mat-header-cell *matHeaderCellDef>创建人</mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ element.createdBy }} {{ element.createdDate | date : "short" }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="modified">
    <mat-header-cell *matHeaderCellDef mat-sort-header="modifiedDate">更新时间</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <!-- {{ element.modifiedBy }}  -->
      {{ element.modifiedDate | date : "short" }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="auditlog">
    <mat-header-cell *matHeaderCellDef>审计日志</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <app-entity-log [id]="element?.id" [modelId]="element?.modelName"></app-entity-log>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions" stickyEnd>
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let element">

      <div class="s-row-m">

        <button mat-icon-button color="primary" (click)="edit(element)" matTooltip="编辑">
          <span class="material-symbols-outlined">
            edit_square
          </span>
        </button>
        <button mat-icon-button color="warn" (click)="delete(element)" matTooltip="删除">
          <span class="material-symbols-outlined">
            delete
          </span>
        </button>
        <button mat-icon-button color="primary" (click)="openPermission(element)" matTooltip="授权">
          <span class="material-symbols-outlined">
            lock_clock
          </span>
        </button>
        <!-- <app-entity-log [id]="element?.id" [modelId]="element?.modelName"></app-entity-log> -->
      </div>


    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="10">没有记录</td>
  </tr>
</mat-table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="pageable.pageSize" showFirstLastButtons
  [length]="pageable.length" (page)="onPageChange($event)" aria-label="Select page of periodic elements">
</mat-paginator>
