<div class="s-row">
  <button mat-raised-button (click)="new()" color="primary">新增</button>
  <button mat-raised-button (click)="sync()" color="primary">同步</button>
</div>

<div class="example-container">
  <div class="example-table-container">
    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>序号</mat-header-cell>
        <mat-cell *matCellDef="let element; let index = index">
          {{ index + 1 }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>名称</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="code">
        <mat-header-cell *matHeaderCellDef>代码</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.code }}</mat-cell>
      </ng-container>

       <ng-container matColumnDef="modified">
        <mat-header-cell *matHeaderCellDef>更新时间</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.modifiedBy }} {{element.modifiedDate|date: 'short'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="users">
        <mat-header-cell *matHeaderCellDef>授权用户</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-chip-set #chipList>
            <mat-chip *ngFor="let userScope of element.userScopes" (removed)="removeUser(userScope)">
              {{ userScope.id?.username.substring(0, 8) }}
              <button matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>
          </mat-chip-set>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="sysroles">
        <mat-header-cell *matHeaderCellDef>授权角色</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-chip-set #chipList>
            <mat-chip *ngFor="let sysroleScope of element.sysroleScopes" (removed)="removeSysrole(sysroleScope)">
              {{ sysroleScope.id.sysroleId }}
              <button matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>
          </mat-chip-set>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="auditlog">
        <mat-header-cell *matHeaderCellDef>审计日志</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <!-- <app-entity-log [id]="element?.id" [modelId]="element?.modelName"></app-entity-log> -->
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div class="s-row">
            <button mat-stroked-button color="primary" (click)="edit(element)">
              编辑
            </button>
            <button mat-stroked-button color="warn" (click)="delete(element)">
              删除
            </button>
            <button mat-stroked-button color="primary" (click)="openPermission(element)">
              授权
            </button>
            <!-- <app-entity-log [id]="element?.id" [modelId]="element?.modelName"></app-entity-log> -->

          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>


      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="10">没有记录</td>
      </tr>
    </mat-table>
  </div>

  <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="pageable.pageSize" [length]="pageable.length"
    [pageIndex]="pageable.pageIndex" (page)="onPage($event)" showFirstLastButtons
    aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
