<div style="display: grid; grid-template-columns: 1fr 3fr;">
  <div>
    <div *ngFor="let item of containers" class="s-row" style="align-items: center;">
      <button mat-icon-button color="accent" (click)="disposeContainer(item['container-id'])">
        <mat-icon>close</mat-icon>
      </button>
      <button mat-button color="primary" (click)="getProcesses(item['container-id'])">{{item['container-id']}}</button>

    </div>
  </div>
  <mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> 名称 </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <a mat-button [routerLink]="['view']" [queryParams]="element.id" color="primary">{{element.processName}}</a>

      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="containerId">
      <mat-header-cell *matHeaderCellDef> 应用 </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element['container-id']}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="processId">
      <mat-header-cell *matHeaderCellDef> 流程ID </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element['process-id']}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="processName">
      <mat-header-cell *matHeaderCellDef> 流程名称 </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element['process-name']}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="processVersion">
      <mat-header-cell *matHeaderCellDef> 版本 </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element['process-version']}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef> </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary">
          <mat-icon>play_circle_outline</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="showImage(element)">
          <mat-icon>image</mat-icon>
        </button>

      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

</div>
