/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.s-row{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
}

.s-col{
  display: flex;
  flex-direction: column;
}

.mat-column-seq,.mat-column-id{
  max-width: 40px;
}
