<h5 mat-dialog-title>数据授权</h5>
<!-- <app-model-permission-rules></app-model-permission-rules> -->

<mat-dialog-content>
  <div>授权模型</div>
  <div>{{ showId(data.modelName) }}</div>

  <div>授权数据</div>
  <div>{{ showId(data.id) }}</div>

  <div>权限规则</div>
  <mat-form-field appearance="fill">
    <mat-label>授予权限</mat-label>
    <mat-select multiple [(ngModel)]="selectedPermissions">
      <mat-option *ngFor="let option of listOfOption" [value]="option.value">
        {{ option.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <div>
    <label id="example-radio-group-label">权限类型</label>
    <mat-radio-group aria-label="Select an option" [(ngModel)]="permissionType">
      <mat-radio-button value="ALLOW">允许</mat-radio-button>
      <mat-radio-button value="DENY">拒绝</mat-radio-button>
    </mat-radio-group>
  </div>

  <mat-tab-group>
    <mat-tab label="用户">
      <app-user-selection
        [multiple]="true"
        [selected]="selectedUsernames"
      ></app-user-selection>
    </mat-tab>
    <mat-tab label="角色">
      <app-sysrole-selection
        [multiple]="true"
        [selectedSysroles]="selectedSysroles"
      ></app-sysrole-selection>
    </mat-tab>
    <mat-tab label="规则">
      <app-model-permission-rules [data]="rules"></app-model-permission-rules>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="submit()" cdkFocusInitial [mat-dialog-close]="true" color="primary">
    确定
  </button>
  <button mat-button mat-dialog-close color="warn">取消</button>
</mat-dialog-actions>
