/* Structure */
.example-container {
  position: relative;
}

.example-table-container {
  position: relative;
  /* min-height: 200px; */
  height: calc(100vh - 250px);
  overflow: auto;
}

.permission {
  background-color: #eee;
  font-size: 10px;
  padding: 10px;
  border: 1px solid white;
}
