<ng-container *ngIf="!route.firstChild">
  <div class="flex flex-row gap-2">
    <button mat-flat-button color="primary" [routerLink]="['new']"
      [queryParams]="containerId">{{'add'|translate}}</button>
    <button mat-flat-button routerLink="../global-variable" color="primary">全局变量</button>

  </div>
  <mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> 名称 </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <a mat-button [routerLink]="['view']" [queryParams]="element.id" color="primary">{{element.processName}}</a>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="processId">
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.id.processId}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="version">
      <mat-header-cell *matHeaderCellDef> 版本 </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.id.processVersion}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef> </mat-header-cell>
      <mat-cell *matCellDef="let element">

        <button mat-button (click)="publish(element)" color="primary">{{'publish'|translate}}</button>
        <button mat-button (click)="unpublish(element)" color="primary">{{'unpublish'|translate}}</button>
        <button mat-button (click)="authorize(element)" color="primary">{{'authorize'|translate}}</button>
      </mat-cell>ƒ
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <div *ngIf="dataSource.data.length==0">No Records Found</div>

</ng-container>
<router-outlet></router-outlet>