<gridster [options]="myOptions">
  <gridster-item
    *ngFor="let item1 of field.fieldGroup"
    [item]="item1.props!['gristerItem']!"
  >
    <formly-field style="width: 100%;height: 100%;" [field]="item1"></formly-field>

    <!-- <div style="padding: 10px; display: flex; flex-directioin: row">
        <button mat-icon-button color="accent">
          <mat-icon>delete</mat-icon>
        </button>
        <formly-field [field]="item1"></formly-field>
      </div> -->
  </gridster-item>
</gridster>
