/* You can add global styles to this file, and also import other style files */
/* @import "tailwindcss"; */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; font-size: 10px; }


.s-link{
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;

  &:hover {
    text-decoration: underline;
  }
  &:visited{
    color: #0b0080;
  }
}

.s-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  border-radius: 5px;
}

.s-col{
  display: flex;
  flex-direction: column;
}

.s-toolbar{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  gap: 10px;
  background-color: #e5e5e5;
  border-radius: 5px;
}
