<section class="ngx-json-viewer">
  @for (segment of segments; track segment) {
    <section
      [ngClass]="['segment', 'segment-type-' + segment.type]">
      <section
        (click)="toggle(segment)"
      [ngClass]="{
        'segment-main': true,
        'expandable': isExpandable(segment),
        'expanded': segment.expanded
      }">
        @if (isExpandable(segment)) {
          <div class="toggler"></div>
        }
        <span class="segment-key">{{ segment.key }}</span>
        <span class="segment-separator">: </span>
        @if (!segment.expanded || !isExpandable(segment)) {
          <span class="segment-value">{{ segment.description }}</span>
        }
      </section>
      @if (segment.expanded && isExpandable(segment)) {
        <section class="children">
          <app-json-viewer [json]="segment.value" [expanded]="expanded" [depth]="depth" [_currentDepth]="_currentDepth+1"></app-json-viewer>
        </section>
      }
    </section>
  }
</section>