<h3 mat-dialog-title>新增/编辑</h3>
<mat-dialog-content>
  <form [formGroup]="formGroup">
    <mat-form-field appearance="fill">
      <mat-label>名称</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>代码</mat-label>
      <input matInput formControlName="id" />
    </mat-form-field>

        <mat-form-field appearance="fill">
      <mat-label>页面</mat-label>
      <input matInput formControlName="pageId" />
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button cdkFocusInitial color="primary" (click)="submit()">
    确定
  </button>
  <button type="button" mat-button mat-dialog-close color="warn">取消</button>
</mat-dialog-actions>
