<mat-drawer-container class="example-container" autosize>
  <button
    mat-raised-button
    color="primary"
    type="submit"
    style="margin-top: 10px"
  >
    提交
  </button>
  <div class="s-row" [formGroup]="formGroup">
    <mat-form-field appearance="fill">
      <mat-label>name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>remark</mat-label>
      <input matInput formControlName="remark" />
    </mat-form-field>
  </div>
  <div style="display: flex; gap: 10px; height: calc(100vh - 300px)">
    <div style="width: 200px">
      <mat-card>
        <div draggable="true" (dragstart)="dragStartHandler($event, 'input')">
          <input disabled />
        </div>
        <div draggable="true" (dragstart)="dragStartHandler($event, 'select')">
          <select style="width: 40px" disabled></select>
        </div>
        <div
          draggable="true"
          (dragstart)="dragStartHandler($event, 'textarea')"
        >
          <textarea disabled></textarea>
        </div>
        <div
          draggable="true"
          (dragstart)="dragStartHandler($event, 'checkbox')"
        >
          <input type="checkbox" />
        </div>
        <div draggable="true" (dragstart)="dragStartHandler($event, 'radio')">
          <input type="radio" />
        </div>
      </mat-card>
      <mat-card style="margin-top: 10px">
        <button mat-raised-button color="accent" (click)="saveLayout()">
          保存布局
        </button>
      </mat-card>
      <mat-card style="margin-top: 10px">
        <button mat-raised-button color="warn" (click)="loadLayout()">
          加载布局
        </button>
      </mat-card>

      <mat-card style="margin-top: 10px">
        <button mat-raised-button color="primary" (click)="preview()">
          预览
        </button>
      </mat-card>
    </div>

    <form
      [formGroup]="form"
      style="flex: 1; border: 1px solid #ccc; padding: 10px"
      (ngSubmit)="submit()"
    >
      <div style="width: 100%; text-align: right">
        <button
          type="button"
          mat-button
          (click)="drawer.toggle()"
          color="primary"
        >
          属性
        </button>
      </div>
      <formly-form
        [form]="form"
        [model]="model"
        [fields]="fields"
      ></formly-form>
    </form>
  </div>
  <div>{{ model | json }}</div>
  <!-- <div
    style="
      display: flex;
      height: calc(100vh - 300px);
      flex-direction: row;
      flex: 1 0 48%;
    "
  >
    <ngx-monaco-editor
      style="width: 50%; border: 1px solid #ccc"
      [options]="editorOptions"
      [(ngModel)]="code"
    ></ngx-monaco-editor>
    <formly-form
      [form]="form"
      [fields]="gridsterField.fieldGroup!"
      [model]="model"
    ></formly-form>
  </div> -->
  <mat-drawer
    #drawer
    class="example-sidenav"
    mode="side"
    position="end"
    opened="true"
  >
    <p>Auto-resizing sidenav</p>
  </mat-drawer>
</mat-drawer-container>
