.spr-model-psermission-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid white;
  background-color: #eee;
  padding: 10px;
  margin-bottom: 10px;
}
