<h3 mat-dialog-title>{{config.name}} {{config.code}}</h3>
<mat-dialog-content>
  <!-- <formio #formIo [form]="form" [options]="formOptions" (submit)="onSubmit($event)" [viewOnly]="viewOnly" [readOnly]="viewOnly" [submission]='formData'></formio> -->
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close="">关闭</button>
</mat-dialog-actions>
<!-- <formio #formIo [form]="form" [options]="formOptions"  [viewOnly]="true" [readOnly]="true" [submission]='formData'></formio> -->
