<button mat-flat-button (click)="submit()" color="primary">确定</button>


<h4>条件</h4>
<div class="flex flex-row mb-5">
    <div style="width: 40%;" class="bg-blue-100	mr-3 p-2">
        <div class="border-dashed border-1 mb-3 p-2 cursor-move" *ngFor="let condition of conditions" draggable="true"
            (dragstart)="onNativeDragStart($event, condition.mappingKey)">{{condition.mappingKey}}
        </div>

    </div>
    <div class="w-full" (dragover)="onNativeDragOver($event)" (drop)="onNativeDrop($event)">
        <ngx-monaco-editor style="height: 300px; width: 100%;" [(ngModel)]="dslr.name"
            [options]="{ language: 'java', theme: 'vs-dark'}"></ngx-monaco-editor>
    </div>
</div>

<mat-divider class="m-5"></mat-divider>


<h4>动作</h4>
<div class="flex flex-row mt-5">
    <div style="width: 40%;" class="bg-blue-100	mr-3 p-2">
        <div class="border-dashed border-1 mb-3 p-2 cursor-move" *ngFor="let action of actions" draggable="true"
            (dragstart)="onNativeDragStart($event, action.mappingKey)">{{action.mappingKey}}
        </div>

    </div>
    <div class="w-full" (dragover)="onNativeDragOver($event)" (drop)="onNativeDrop($event)">
        <ngx-monaco-editor style="height: 300px; width: 100%;" [(ngModel)]="dslr.content"
            [options]="{ language: 'java', theme: 'vs-dark'}"></ngx-monaco-editor>
    </div>
</div>
