<h3 mat-dialog-title>规则</h3>
<mat-dialog-content class="h-96">
    <h4>条件</h4>
    <mat-selection-list #conditions_ [multiple]="false">
        <mat-list-option *ngFor="let condition of conditions" [value]="condition">
            {{condition.mappingKey}}
        </mat-list-option>
    </mat-selection-list>

    <div>
        <mat-form-field *ngFor="let v of getVariables((conditions_?.selectedOptions?.selected||[])[0]?.value)"
            class="mr-2">
            <mat-label>{{v}}</mat-label>
            <input matInput [(ngModel)]="form[v]">
        </mat-form-field>
    </div>

    <div>{{evalCondition((conditions_?.selectedOptions?.selected||[])[0]?.value)}}</div>
    <!-- <div (click)="evalCondition((conditions_?.selectedOptions?.selected||[])[0]?.value)">get</div> -->
    <h4>动作</h4>

    <mat-selection-list #actions_ [multiple]="false">
        <mat-list-option *ngFor="let action of actions" [value]="action">
            {{action.mappingKey}}
        </mat-list-option>
    </mat-selection-list>

    <div>
        <mat-form-field *ngFor="let v of getVariables((actions_?.selectedOptions?.selected||[])[0]?.value)"
            class="mr-2">
            <mat-label>{{v}}</mat-label>
            <input matInput [(ngModel)]="form[v]">
        </mat-form-field>
    </div>

    <div>{{evalAction((actions_?.selectedOptions?.selected||[])[0]?.value)}}</div>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button (click)="submit()">确定</button>
</mat-dialog-actions>