<div *ngIf="!isInit" style="width: 100%; text-align: center; padding-top: 30px">
    <button mat-stroked-button (click)="init()" color="primary">系统初始化</button>
  </div>
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <mat-tree-node *matTreeNodeDef="let node" [matTreeNodePaddingIndent]="25 * node.level" matTreeNodePadding>
      <button mat-icon-button disabled>
        <span class="material-symbols-outlined"></span>
      </button>
      <span [class]="
          selectedNode === node.url
            ? 'norml-tree-node selected-norml-tree-node'
            : 'norml-tree-node'
        " [routerLink]="node.url" (click)="selectedNode = node.url">{{ node.name }}</span>
    </mat-tree-node>
    <mat-tree-node *matTreeNodeDef="let node; when: hasChild" [matTreeNodePaddingIndent]="25 * node.level"
      matTreeNodePadding>
      <div class="mat-tree-node expandable-tree-node {{
          treeControl.isExpanded(node) ? 'expanded-tree-node' : ''
        }}">
        <div style="
            display: flex;
            flex-direction: row;
            width: 100%;
            align-items: center;
          " matTreeNodeToggle>
          <span class="material-symbols-outlined">{{ node.icon }}</span>
          <div style="width: 100%; padding-left: 10px">{{ node.name }}</div>
          <div style="width: 60px">
            <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
              <mat-icon class="mat-icon-rtl-mirror">{{treeControl.isExpanded(node) ? "expand_more" :
                "chevron_right"}}</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <div [class.example-tree-invisible]="!treeControl.isExpanded(node)" role="group">
        <ng-container matTreeNodeOutlet></ng-container>
      </div>
    </mat-tree-node>
  </mat-tree>

  <div class="avatar-container">
    <span style="word-break: break-all">{{ name }}</span>
    <span style="flex: 1 1 auto"></span>
    <button mat-icon-button color="primary" (click)="logout()">
      <span class="material-symbols-outlined">
        logout
      </span>
    </button>
  </div>
