/* 定义树的整体颜色
.spr-mat-tree{
  background-color: red;
  height: 100%;

  .spr-mat-tree-parent-node{
    background-color: green;
    color: white;
  }

  .spr-mat-tree-leaf-node{
    background-color: yellowgreen;

  }

  .spr-mat-tree-parent-node-link{
    background-color: green;
  }

  .spr-mat-tree-leaf-node-link{
    background-color: hsl(from color h s l);
    color:rgba(116, 0, 224, 0.842);
    padding-left: 40px;

  }

} */


.spr-mat-tree-leaf-node-link{
  cursor: pointer;
}
