<form [formGroup]="fg" (submit)="submit()">
  <mat-form-field appearance="fill">
    <mat-label>名称</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>code</mat-label>
    <input matInput formControlName="code" />
  </mat-form-field>

  <div>上级</div>
  <!-- <app-filter-tree [checklistSelection]="checklistSelection" [treeData]="treeData"></app-filter-tree> -->

  <mat-dialog-actions>
    <button mat-button color="primary">确定</button>
    <button type="button" mat-button mat-dialog-close color="warn">取消</button>
  </mat-dialog-actions>
</form>
