<h2 mat-dialog-title>更新变量</h2>
<mat-dialog-content>
  <mat-selection-list #shoes [multiple]="false">
    <div style="display: flex; flex-direction: row;">
      <div><mat-list-option *ngFor="let name of variableNames" [value]="name" (selectedChange)="onChange(name)">
        {{name}}
      </mat-list-option></div>
      <!-- <textarea matInput placeholder="值" rows="4" style="width: 100%; margin-top: 8px;"
        [(ngModel)]="data.variables[shoes.selectedOptions.selected[0]?.value]"></textarea> -->
        <ngx-monaco-editor style="height: calc(100vh - 300px);width: 100%;" [options]="editorOptions" [(ngModel)]="code"></ngx-monaco-editor>

    </div>
  </mat-selection-list>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>关闭</button>
  <button mat-button color="primary" (click)="save()">保存</button>
</mat-dialog-actions>
