
<mat-toolbar color="primary" style="height: 60px">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <!-- <div class="breadcrumb">首页 /</div> -->
  <span class="example-spacer"></span>
  <button mat-button color="accent" (click)="logout()">注销</button>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer mode="side" opened>
    <div class="menu-container">
      <mat-action-list style="width: 200px;">
        <button mat-list-item color="primary" [routerLink]="['/process-instance-list']"
          routerLinkActive="router-link-active">流程管理</button>
        <button mat-list-item color="primary" [routerLink]="['/process-container-list']"
          routerLinkActive="router-link-active">流程设计</button>
        <button mat-list-item color="primary" [routerLink]="['/form-design-list']"
          routerLinkActive="router-link-active">表单设计</button>
        <button mat-list-item color="primary" [routerLink]="['/process-deployed-list']"
          routerLinkActive="router-link-active">已部署应用</button>

      </mat-action-list>
      <div class="user-info">
        <span>{{sessionStorage.getItem('username')}}</span>
      </div>
    </div>
  </mat-drawer>

  <div class="sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>