<form [formGroup]="formGroup">
  <div class="spr-toolbar-container">
    <ng-container *ngIf="formGroup.enabled">
      <button mat-raised-button type="button" (click)="ngOnInit()" color="warn">
        取消
      </button>
      <button mat-raised-button color="primary" (click)="submit()">确定</button>
    </ng-container>

    <button
      *ngIf="formGroup.disabled"
      mat-raised-button
      color="primary"
      (click)="formGroup.enable(); formGroup.get('code')?.disable()"
    >
      编辑
    </button>
  </div>
  <mat-form-field appearance="fill">
    <mat-label>名称</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>代码</mat-label>
    <input matInput formControlName="code" />
  </mat-form-field>
  <div>
    上级
    <app-tree-view [treeViewOption]="treeViewOption"></app-tree-view>
  </div>
</form>
