<div class="s-toolbar">
  <button mat-flat-button color="primary" (click)="saveForm()">
    {{ "save" | translate }}
  </button>
</div>

<div class="s-row" [formGroup]="formGroup">
  <mat-form-field appearance="fill">
    <mat-label>name</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>remark</mat-label>
    <input matInput formControlName="remark" />
  </mat-form-field>
</div>

<div class="options">
  <a
    mat-raised-button
    href="https://github.com/tiberiuzuld/angular-gridster2/tree/master/src/app/sections/emptyCell"
    target="_blank"
    class="source-code-button"
  >
    <mat-icon>open_in_new</mat-icon>
    Source
  </a>
</div>
<div class="options-header">
  <mat-checkbox
    [(ngModel)]="options.enableEmptyCellClick"
    (ngModelChange)="changedOptions()"
  >
    Enable click to add
  </mat-checkbox>
  <mat-checkbox
    [(ngModel)]="options.enableEmptyCellContextMenu"
    (ngModelChange)="changedOptions()"
  >
    Enable right click to add
  </mat-checkbox>
  <mat-checkbox
    [(ngModel)]="options.enableEmptyCellDrop"
    (ngModelChange)="changedOptions()"
  >
    Enable drop to add
  </mat-checkbox>
  <div
    *ngIf="options.enableEmptyCellDrop"
    draggable="true"
    (dragstart)="dragStartHandler($event)"
  >
    Drag me!
  </div>
  <mat-checkbox
    (ngModelChange)="changedOptions()"
    [(ngModel)]="options.enableOccupiedCellDrop"
    [disabled]="!options.enableEmptyCellDrop"
  >
    Enable drop on occupied cell
  </mat-checkbox>
  <mat-checkbox
    [(ngModel)]="options.enableEmptyCellDrag"
    (ngModelChange)="changedOptions()"
  >
    Enable drag to add
  </mat-checkbox>
  <mat-form-field>
    <input
      matInput
      [(ngModel)]="options.emptyCellDragMaxCols"
      type="number"
      placeholder="Drag Max Cols"
      (ngModelChange)="changedOptions()"
    />
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      [(ngModel)]="options.emptyCellDragMaxRows"
      type="number"
      placeholder="Drag Max Rows"
      (ngModelChange)="changedOptions()"
    />
  </mat-form-field>
  <button mat-mini-fab (click)="addItem()" class="add-button cols-2">
    <mat-icon>add</mat-icon>
  </button>
</div>
<gridster [options]="options">
    <gridster-item [item]="item" *ngFor="let item of dashboard">
      <div class="button-holder">
        <button
          mat-mini-fab
          (mousedown)="removeItem($event, item)"
          (touchstart)="removeItem($event, item)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </gridster-item>



</gridster>
<!-- <div style="display: flex;height: calc(100vh - 300px);flex-direction: row;flex: 1 0 48%">
  <div #editorContainer style="width: 50%; border: 1px solid #ccc;"></div>
  <div>
    <form [formGroup]="form" (ngSubmit)="onSubmit(model)">
      <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
      <button mat-stroked-button color="primary" type="submit" class="btn btn-default">Submit</button>
    </form>
    <div>{{model|json}}</div>
  </div>
</div> -->

<!-- <gridster [options]="options">
  <gridster-item [item]="item" *ngFor="let item of dashboard">
  </gridster-item>
</gridster> -->

<!--
<mat-grid-list cols="2" rowHeight="500px">
  <mat-grid-tile>
    <div #editorContainer style="height: 500px; border: 1px solid #ccc;width: 100%;"></div>
  </mat-grid-tile>
  <mat-grid-tile>
    <form [formGroup]="form" (ngSubmit)="onSubmit(model)">
      <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </mat-grid-tile>
</mat-grid-list> -->
