<div style="display: flex; flex-direction: column; gap: 10px">
  <mat-chip-list *ngIf="treeViewOption.checklistSelection.selected[0]">
    <mat-chip
      *ngFor="let item of treeViewOption.checklistSelection.selected"
      (removed)="remove(item)"
    >
      {{ item?.name }}
      <button *ngIf="!treeViewOption.disabled" matChipRemove>
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip>
  </mat-chip-list>

  <mat-tree
    *ngIf="!treeViewOption.disabled"
    class="spr-mat-tree"
    [dataSource]="dataSource"
    [treeControl]="treeControl"
  >
    <mat-tree-node
      [class]="
        node.level === 0 ? 'spr-mat-tree-parent-node' : 'spr-mat-tree-leaf-node'
      "
      *matTreeNodeDef="let node"
      matTreeNodeToggle
      matTreeNodePadding
    >
      <button mat-icon-button disabled></button>

      <span (click)="onNodeClick(node)">
        {{ node.name }}
      </span>
    </mat-tree-node>

    <mat-tree-node
      class="spr-mat-tree-parent-node"
      *matTreeNodeDef="let node; when: hasChild"
      matTreeNodePadding
    >
      <button
        type="button"
        mat-icon-button
        matTreeNodeToggle
        [attr.aria-label]="'Toggle ' + node.item"
      >
        <mat-icon class="mat-icon-rtl-mirror">
          {{ treeControl.isExpanded(node) ? "expand_more" : "chevron_right" }}
        </mat-icon>
      </button>
      <mat-checkbox
        *ngIf="treeViewOption.parentSelectable"
      ></mat-checkbox>
      <span (click)="onNodeClick(node)">{{ node.name }}</span>
    </mat-tree-node>
  </mat-tree>
</div>
