.home{
  text-decoration: none;
  padding-right: 10px;
  color: -webkit-link;
  cursor: pointer;
}

/* .home:hover{
  color: #3f51b5;
} */

a{
  text-decoration: none;
  padding: 0px 10px 0px 10px;
}

/* a:hover{
  color: #3f51b5;
} */
