<div class="flex flex-row gap-2 mb-2">
  <button mat-flat-button (click)="submit()" color="primary">保存</button>
  <button mat-flat-button color="accent" routerLink="../dsl-list">取消</button>
  <button mat-flat-button (click)="getDrl()" color="primary">预览</button>

</div>
<h3>模板</h3>

<div [formGroup]="form">
  <mat-form-field class="mr-2">
    <mat-label>名称</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>

  <mat-form-field>
    <mat-label>代码</mat-label>
    <input matInput formControlName="code">
  </mat-form-field>

  <mat-form-field class="w-full">
    <mat-label>简述</mat-label>
    <textarea matInput formControlName="remark"></textarea>
  </mat-form-field>

  <div>头定义</div>
  <ngx-monaco-editor style="height: 200px;" [options]="{ language: 'java', theme: 'vs-dark' }"
    formControlName="head"></ngx-monaco-editor>

  <div>规则模板</div>
  <ngx-monaco-editor style="height: 400px;" [options]="editorOptions" formControlName="content"></ngx-monaco-editor>
</div>



<h3>规则</h3>
<div class="flex flex-row gap-2 mb-2">
  <button mat-stroked-button color="primary" routerLink="../dslr-form" [queryParams]="{dslId: dsl?.id}">添加</button>
</div>

<app-dslr-list></app-dslr-list>